.navbar{
    background-color: rgba(0, 0, 0, .5) !important;
    color: #fff !important;
    .navbar-brand{
        color: #fff !important;
        font-size: 30px !important;
    }
    .nav-link{
        color: #fff !important;
        font-size: 22px !important;
    }
}