.success {
    color: rgb(21, 114, 114);
  }
  .warning {
    color: rgb(128, 128, 0);
  }

  .active {
    color: green;
   font-size: 18px;
  }
  .inactive{
    color: red;
    font-size: 18px;
  }
  