:host {
  ::ng-deep {
    .tableDiv {
      .heading{
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        text-transform: capitalize;
      }
      .filterDiv {
        display: flex !important;
        justify-content: space-between !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        align-items: center;
        .mat-form-field {
          width: 20%;
        }
      }
      .table-container {
        table {
          width: 100% !important;
          .mat-header-row {
            background-color: rgba(0, 0, 0, 0.4);
            .mat-header-cell {
              color: #fff;
              font-size: 17px;
              &:hover > .sortDiv{
                opacity: 1;
              }
            }
          }
          .sortDiv {
            display: inline-block;
            opacity: 0;
            transition-duration: .5s;
            .sortIcon {
              cursor: pointer;
              display: flex;
              flex-direction: column;
              font-size: 10px;
            }
            &:hover{
              opacity: 1;;
            }
          }
        }
        height: calc(
          100vh - 200px
        ); // or height:calc(100vh - 155px); depending on your need  change
        overflow: auto;
      }
      .pagination{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        ngb-pagination{
          .pagination {
            .page-link {
              border: none !important;
              color: #000;
              text-decoration: none;
            }
            .page-item.active .page-link {
              color: #fff;
              background-color: #000;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
}