<div class="tableDiv px-5">
  <p class="heading"><span>👉</span>&nbsp;{{ className }}</p>
  <div class="filterDiv">
    <ng-container *ngFor="let fltr of tableFilter">
      <ng-container [ngSwitch]="fltr.type">
        <mat-form-field appearance="standard" *ngSwitchCase="'select'">
          <mat-label>Select {{ fltr.searchHeader | titlecase }} </mat-label>
          <mat-select [(ngModel)]="selectValue">
            <mat-option
              value="0"
              (click)="selectFilterChange(fltr.searchHeader, '0')"
              >{{ fltr.searchHeader | titlecase }}</mat-option
            >
            <mat-option
              (click)="selectFilterChange(fltr.searchHeader, item)"
              *ngFor="let item of fltr.value"
              [value]="item"
            >
              {{ item | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field
          appearance="standard"
          class=""
          *ngSwitchCase="'calendar'"
        >
          <mat-label>Enter {{fltr.searchHeader}} range</mat-label>
          <mat-date-range-input [(ngModel)]="filterDate" [rangePicker]="picker">
            <input matStartDate placeholder="Start date" [(ngModel)]="startDate" #dateRangeStart/>
            <input matEndDate placeholder="End date" [(ngModel)]="endDate"  #dateRangeEnd
            (dateChange)="applyDateRangeFilter(fltr.searchHeader,dateRangeStart.value, dateRangeEnd.value)"/>
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <div *ngSwitchCase="'text'">
          <mat-form-field appearance="standard" class="w-50">
            <mat-label>Search</mat-label>
            <input
              id="search"
              matInput
              [(ngModel)]="selectedInput"
              placeholder="Search"
              (keyup)="this.searchSubject.next($event)"
            /> </mat-form-field
          >&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="btn btn-secondary" (click)="resetTableData()">
            Clear
          </button>
        </div>
      </ng-container>
    </ng-container>
  </div>

  <!-- <div class="mat-elevation-z8"> -->
  <div class="table-container" *ngIf="tableInputData">
    <table mat-table [dataSource]="dataSource" class="">
      <div *ngFor="let col of tableDisplayColumns">
        <ng-container matColumnDef="{{ col?.field }}">
          <th mat-header-cell *matHeaderCellDef>
            {{ col?.label  }}
            <div class="sortDiv" *ngIf="col?.sort">
              <span class="sortIcon" (click)="ascendingSort(col?.field, 'asc')"
                >&nbsp;&nbsp;▲</span
              >
              <span class="sortIcon" (click)="decendingsort(col?.field, 'desc')"
                >&nbsp;&nbsp;▼</span
              >
            </div>
          </th>
          <td mat-cell *matCellDef="let row">
            <div *ngIf="col?.field !== 'action'">
              <div *ngIf="row[col?.field]?.type === ''" title="{{row[col?.field]?.value}} ">
                {{ row[col?.field]?.value  | titlecase | fixlength }}
              </div>
              <div *ngIf="row[col?.field]?.type == 'custom'">
                <app-custom-column
                  [cellData]="row[col?.field]"
                  [colName]="col?.field"
                ></app-custom-column>
              </div>
            </div>
            <div *ngIf="col?.field === 'action'">
              <app-custom-action [cellData]="row"></app-custom-action>
            </div>
          </td>
        </ng-container>
      </div>
      <tr mat-header-row *matHeaderRowDef="columnToShow"></tr>
      <tr mat-row *matRowDef="let row; columns: columnToShow"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
    <marquee behavior="" direction="left">No Data Found</marquee>

        </td>
      </tr>
    </table>
  </div>

  <div class="pagination" *ngIf="tableInputData.length > 0 ">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="10"
      [maxSize]="5"
      [rotate]="true"
      [boundaryLinks]="true"
      (pageChange)="changePage($event)"
    ></ngb-pagination>
  </div>
</div>
